body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5ff;
}

h1 {
    color: #2c3e50;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

